.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;

    .menu-icon{
      position: absolute;

      .glyphicon{

        left: 20px;
        font-size: 24px;
      }
    }

    span{
      margin: auto ;
    }
  }

.mat-sidenav-content { transition: 0.3s all }

.toolbar img {
  margin: 0 16px;
}

.sidenav{

  background-color: gainsboro;

  .tp-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:200px;   
    padding-left: 20px;
  }
}  
