.content{

    padding-top: 60px;
    text-align: center;

    .row{
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 40px;
      .tabs{
        margin-bottom: 40px;

      }
    }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
}